@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

body{
    text-align: center;
    color: #335faa;
    overflow: hidden;
    background-color: white;
    display: flex;
}

.content{
    width: 100vw;
    height: 100vh;
    background-color: #EEEFF1;
    border-radius: 6px;
}

h2{
    font-size: calc(4vh + 1.2vw);
    letter-spacing: .1rem;
    font-weight: 600;
    margin: 10vh 0;
}

.button-group{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: nowrap;
}

.button-group button {
    font-size: 0.8em;
    width: 17vw;
    border: none; /* Green border */
    color: white; /* White text */
    padding: 2.6vw 0; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    display: flex;
    justify-content: center;
    font-weight: 600; 
    opacity: 0.9;
    box-shadow: rgb(0 0 0 / 7%) 0px 1px 1px, rgb(0 0 0 / 7%) 0px 2px 2px, rgb(0 0 0 / 7%) 0px 4px 4px, rgb(0 0 0 / 7%) 0px 8px 8px, rgb(0 0 0 / 7%) 0px 16px 16px;
    transition: 0.5s;
}

.button-group button:hover {
    filter: brightness(0.9);
    transform: scale(0.98);
}

.btn-1{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: #14b8a6;
}

.btn-2{
    background-color: #0ea5e9;
}

.btn-3{
    background-color: #f43f5e;
}

.btn-4{
    background-color: #71717a;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.dropdown-menu{
    font-size: 0.8em;
}

.dropdown-item:hover{
    background-color: #f4f4f5;
    text-decoration: none;
}

.rodapé{
    position: absolute;
    display: inline-flex;
    top: 90vh;
    left: 50%;
    transform: translate(-50%, -90%);
}

a{
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin: 0;
}

a:hover{
    text-decoration: underline;
    color: inherit;
}

svg, p{
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 1px;
    font-size: 14px;
}

/*@media (max-width: 768px){

    .button-group{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .button-group button {
        padding: 5vw 10vw; 
    }  
    .button{
        width: 90vw;
        margin: 1%;
        border-radius: 6px;
    }
}*/
